* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8e2ef;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #368b9b;
}

h1 span {
	color: #9b3570;
	font-style: italic;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-auto-rows: minmax(0, 1fr);
	grid-template-areas:
		'header header header'
		'nav article ads'
		'footer footer footer';
	grid-template-rows: 15% 1fr 15%;
	grid-template-columns: 20% 1fr 20%;
	height: 100vh;
}

.grid-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #9b3570;
}

.pageHeader {
	grid-area: header;
}
.pageFooter {
	grid-area: footer;
}
.mainArticle {
	grid-area: article;
	background-color: #fff;
	row-gap: 5%;
	justify-content: flex-start;
	align-items: flex-start;
}

.mainNav {
	grid-area: nav;
	row-gap: 2%;
}
.siteAds {
	grid-area: ads;
	row-gap: 5%;
}

h2 {
	font-size: 40px;
}

a {
	text-decoration: none;
	color: #9b3570;
}

li {
	list-style: none;
	font-size: 20px;
}

.photos {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.photos img {
	width: 180px;
	height: 250px;
}

.transparent img {
	width: 150px;
}
